# Exercícios Módulo 5. Bases de dados com SQLite (Soluções)

Considerações a ter em conta:

* Guardar este documento com o seguinte formato para entrega: M5_04_nome_apelido1_apelido2
* Fazer os exercícios com as ferramentas vistas nas sessões. 
* Comentar o código
* Utilizar nomes de variáveis apropriados, se vai guardar uma nota, chamar a essa variável nota, não n ou x

**1) Praticar um pouco com SQLite:**

* Criar uma base de dados que se chame biblioteca
* Criar as seguintes tabelas (deverá colocar os tipos dos atributos com lógica, investigar quais há em SQLite para o poder fazer): 
 * autor(bi, nome, apelidos, estarVivo)
     * em bi pode colocar um número aleatório
 * livro(isbn, título, editorial, ano_escrito)  
     * isnb = International Standard Book Number - Pode colocar um número aleatório
 * utilizador(bi, nome, apelidos, numEmpréstimos)
     * em bi pode colocar um número aleatório
* Inserir pelo menos 3 registos em cada uma das tabelas 
 * Em autor, alguns vivos e outros mortos
 * Em livro, alguns com ano de escritura anterior a 1900 e outros depois 
 * Em utilizador, alguns com mais de 10 empréstimos e outros com menos
* Comprovar que tudo está correto com **DB Browser (SQLite)** 
* Fazer as seguintes consultas:
 * Listar a todos os autores 
 * Listar todos os livros 
 * Listar todos os utilizadores
 * Listar todos os autores que estejam vivos (CLAUSULA WHERE)
 * Listar todos os livros que tenham sido escritos posteriormente a 1900
 * Listar todos os utilizadores que se tenham levado mais de 10 livros e filtrar pelo nome

In [1]:
#Importar o módulo
import sqlite3

# Criar a conexão e o cursor
conn = sqlite3.connect('biblioteca.db')
c = conn.cursor()

# Criar as tabelas
c.execute('''CREATE TABLE autor (
                bi INTEGER PRIMARY KEY,
                nome TEXT,
                apelidos TEXT,
                estarVivo INTEGER)''')

c.execute('''CREATE TABLE livro (
                isbn INTEGER PRIMARY KEY,
                título TEXT,
                editorial TEXT,
                ano_escrito INTEGER)''')

c.execute('''CREATE TABLE utilizador (
                bi INTEGER PRIMARY KEY,
                nome TEXT,
                apelidos TEXT,
                numEmpréstimos INTEGER)''')

# Inserir regitos nas tabelas
c.execute("INSERT INTO autor (bi, nome, apelidos, estarVivo) VALUES (123, 'Joao', 'Silva', 1)")
c.execute("INSERT INTO autor (bi, nome, apelidos, estarVivo) VALUES (456, 'Rafael', 'Ferreira', 0)")
c.execute("INSERT INTO autor (bi, nome, apelidos, estarVivo) VALUES (789, 'Leonor', 'Santos', 1)")

c.execute("INSERT INTO livro (isbn, título, editorial, ano_escrito) VALUES (111, 'Livro1', 'Editorial1', 1895)")
c.execute("INSERT INTO livro (isbn, título, editorial, ano_escrito) VALUES (222, 'Livro2', 'Editorial2', 1912)")
c.execute("INSERT INTO livro (isbn, título, editorial, ano_escrito) VALUES (333, 'Livro3', 'Editorial3', 2009)")

c.execute("INSERT INTO utilizador (bi, nome, apelidos, numEmpréstimos) VALUES (111, 'Antonio', 'Pereira', 5)")
c.execute("INSERT INTO utilizador (bi, nome, apelidos, numEmpréstimos) VALUES (222, 'Ana', 'Lopes', 15)")
c.execute("INSERT INTO utilizador (bi, nome, apelidos, numEmpréstimos) VALUES (333, 'Manuel', 'Moreira', 8)")

# Guardar as alterações com commit e fechar a conexão
conn.commit()
conn.close()

# Conectar de novo
conn = sqlite3.connect('biblioteca.db')
c = conn.cursor()

# Consultar o banco de dados
c.execute("SELECT * FROM autor")
print(c.fetchall())

c.execute("SELECT * FROM livro")
print(c.fetchall())

c.execute("SELECT * FROM utilizador")
print(c.fetchall())

c.execute("SELECT * FROM autor WHERE estarVivo=1")
print(c.fetchall())

c.execute("SELECT * FROM livro WHERE ano_escrito>1900")
print(c.fetchall())

c.execute("SELECT nome FROM utilizador WHERE numEmpréstimos>10")
print(c.fetchall())

# Fechar a conexão
conn.close()

[(123, 'Joao', 'Silva', 1), (456, 'Maria', 'Santos', 0), (789, 'Pedro', 'Lopes', 1)]
[(111, 'Livro1', 'Editorial1', 1890), (222, 'Livro2', 'Editorial2', 1910), (333, 'Livro3', 'Editorial3', 2000)]
[(111, 'Antonio', 'Pereira', 5), (222, 'Ana', 'Carvalho', 15), (333, 'Manuel', 'Marques', 8)]
[(123, 'Joao', 'Silva', 1), (789, 'Pedro', 'Lopes', 1)]
[(222, 'Livro2', 'Editorial2', 1910), (333, 'Livro3', 'Editorial3', 2000)]
[('Ana',)]